<app-nav></app-nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4"></div>
    <div class="col-4" *ngIf="!token">
      <h4 class="text-center mb-4">Login</h4>
      <form #loginForm="ngForm" id="loginForm">
        <div class="form-group">
          <input
            type="email"
            class="form-control rounded-5 mt-2"
            placeholder="email"
            id="email"
            name="email"
            required
            ngModel
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control rounded-5 mt-2"
            placeholder="password"
            id="password"
            name="password"
            required
            ngModel
          />
        </div>
        <button
          (click)="login(loginForm)"
          [disabled]="loginForm.invalid"
          class="btn btn-primary mt-4 rounded-5"
        >
          Submit
        </button>
        <button
          class="btn btn-primary rounded-5 mt-4 ms-2"
          [routerLink]="'/register'"
        >
          Register
        </button>
      </form>
    </div>
    <div class="col-4" *ngIf="token">
      <h4 class="mt-4">You are logged in</h4>
    </div>
    <div class="col-4"></div>
  </div>
</div>
